<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
        padding: 20px;
        height: 100%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .button {
        position: relative;
        top: -38px;
        left: 82%;
    }
    </style>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="" method="post" name="launch" novalidate>
        {{form.hidden_tag()}}
        <div class="row">
            <div class="column" style="background-color:#abc;">
                <h1>Launch your python code:</h1>
                <p>
                    Your python code:<br>
                    {{form.code(rows = '20', cols = '80' )}}<br>
                </p>
                <p>Input:<br>
                    {{form.input(rows = '10', cols = '80')}}<br>
                </p>
                <p>Timeout(max: {{form.float_time.default}}):<br>
                    {{form.float_time()}}<br>
                </p>
                <p>
                <input class="button" type="submit" value="Launch">
                </p>
            </div>
            <div class="column" style="background-color:#bca;">
                <h1>Your results:</h1>
                <p>
                    Output:<br>
                    {{form.output(rows = '20', cols = '80' )}}<br>
                </p>
                <p>
                    Errors:<br>
                    {{form.error(rows = '10', cols = '80' )}}<br>
                </p>
            </div>
        </div>
    </form>
{% endblock %}