<html>
  <head>
    {% if title %}
    <title>{{title}} - Code execution</title>
    {% else %}
    <title>Code execution</title>
    {% endif %}
  </head>
  <body>
    <div>Code execution: <a href="/">Launcher 1</a>
      <a href="/task2">Launcher 2</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>