<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Launch your code</h1>
<form action="" method="post" name="login">

    {{form.hidden_tag()}}
    <p>
        Please enter your python code:<br>
        {{form.code(rows = '30', cols = '100' )}}<br>
    </p>
    <p>Optional input:<br>
        {{form.input(rows = '10', cols = '100')}}<br></p>
    <p><input type="submit" value="Launch"></p>
</form>
{% endblock %}